/* p {
    font-size: 24px;
    margin-right: 10px;
    color: white;
} */

.gridcontainer > div {
  text-align: center;
  font-size: 30px;
  padding: 20px 0;
  color: white;
}

.gridcontainer{
    display: grid;
    width: 400px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas: 
    "header header header header"
    "piu meno per diviso"
    "sette otto nove uguale"
    "quattro cinque sei uguale"
    "uno due tre uguale"
    "zero punto ac uguale";
    box-shadow: 5px 5px rgba(97, 94, 94, 0.2);
    
}

.header {
 grid-area: header;
 background-color: rgb(41, 144, 120);
 text-align: end; 
 border-top-left-radius: 10px;
 border-top-right-radius: 10px;
 font-size: 25px;
 color: white;
}

header > p {
 padding-right: 35px;
}


   .piu{
    grid-area: piu;
    background-color: rgb(116, 181, 117);
    text-align: center;
    border: 1px solid whitesmoke;
   }

   .meno {
    grid-area: meno;
    background-color: rgb(116, 181, 117);
    text-align: center;
    border: 1px solid whitesmoke;
   }

   .per {
    grid-area: per;
    background-color: rgb(116, 181, 117);
    text-align: center;
    border: 1px solid whitesmoke;
   }

   .diviso {
    grid-area: diviso;
    background-color: rgb(116, 181, 117);
    text-align: center;
    border: 1px solid whitesmoke;
   }

   .sette {
    grid-area: sette;
    background-color: rgb(241, 70, 104);
    text-align: center;
    border: 1px solid whitesmoke;
   }
   .otto {
    grid-area: otto;
    background-color: rgb(241, 70, 104);
    text-align: center;
    border-radius: 5px solid whitesmoke;
   }
   .nove{
    grid-area: nove;
    background-color:rgb(241, 70, 104);
    text-align: center; 
    border: 1px solid whitesmoke;
   }
   .uguale{
    grid-area: uguale;
    background-color: rgb(41, 144, 120); 
    /* border: solid 5px; */
   }

   


   .uguale-last{
    grid-area: uguale;
    background-color: rgb(41, 144, 120);
    text-align: center;  
    border-bottom-right-radius: 10px;
    
   }

   

   .quattro {
    grid-area: quattro;
    background-color: rgb(241, 70, 104);
    text-align: center;  
    border: 1px solid whitesmoke;
   }
   .cinque {
    grid-area: cinque;
    background-color: rgb(241, 70, 104);
    text-align: center;  
    border: 1px solid whitesmoke;
   }
   .sei{
    grid-area: sei;
    background-color: rgb(241, 70, 104);
    text-align: center;  
    border: 1px solid whitesmoke;
   }

   .uno {
    grid-area: uno;
    background-color: rgb(241, 70, 104);
    text-align: center;
     border: 1px solid whitesmoke;
   }
   .due {
    grid-area: due;
    background-color: rgb(241, 70, 104);
    text-align: center;
     border: 1px solid whitesmoke;
   }
   .tre{
    grid-area: tre;
    background-color: rgb(241, 70, 104);
    text-align: center;
     border: 1px solid whitesmoke;
   }

   .zero {
    grid-area: zero;
    background-color: rgb(241, 70, 104);
    text-align: center;
     border: 1px solid whitesmoke;
     border-bottom-left-radius: 10px;
   }
   .punto {
    grid-area: punto;
    background-color: rgb(241, 70, 104);
    text-align: center;
     border: 1px solid whitesmoke;
   }
   .ac{
    grid-area: ac;
    background-color: rgb(241, 70, 104);
    text-align: center;
    border: 1px solid whitesmoke;
   }
   

  