body {
    padding: 0;
    margin: 0;
}

.container {
    display: flex;
}


section {
    display: flex;
    flex-grow: 0;
    flex-direction: column;
}

#orange {
    /* flex-grow: 3; */
    flex-basis: 60%;

}